// Screensize Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors
$primary-green: RGBA(73, 111, 103);
$primary-yellow: RGBA(229, 200, 131);
$secondary-green: #069349;
$secondary-lightgreen: #94D988;
$secondary-aqua: #BBF1E1;


// HEX Colors for Logo SVG
$primary-white: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
$primary-green-hex: invert(37%) sepia(14%) saturate(1455%) hue-rotate(89deg) brightness(92%) contrast(82%);
$grey-opac: RGBA(255,255,255,0.4);

// Landing Page Colors
$landing-aqua: RGBA(138, 188, 175);

// Icon Colors
$linkedin-blue: RGBA(51, 116, 174);


