@use "../../styles/partials/fonts" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;

// Logo
    &__title {
        font-family: Budidaya;
    }

    &__logo-img {
        width: 1.3rem;
        height: 1.3rem;
    }
}