.loading-page {
    background-image: url('../../assets/Images/Images/background2.jpg');
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}