@use '../../styles/partials/variables' as *;

.loading {
    background-image: url('../../assets/Images/Images/background2.jpg');
    background-size: 100rem;
    background-repeat: repeat;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 10px;

    &__image {
        width: 30rem;
        border-radius: 30px;
    }

    &__title {
        font-size: 3rem;
        color: $primary-green;
        font-family: Budidaya;
    }

    &__main-title {
        @extend .loading__title;
        font-size: 5rem;
    }
}